{
    "ops": {
        "dashboard_title": "Auto Generated Ops Dashboard",
        "is_managed_externally": true,
        "owners": [
            {{ user_id }}
        ],
        "published": true,
        "roles": []
    },
    "iam": {
        "dashboard_title": "Auto Generated IAM Dashboard",
        "is_managed_externally": true,
        "owners": [
            {{ user_id }}
        ],
        "published": true,
        "roles": []
    }
}